* {
    box-sizing: border-box;


}

body{
    margin: 0px;
    padding: 0px;
    font-family: 'Raleway', sans-serif;

}

div#wrapper{
    background-color: rgb(250,241,234);

}

header{
    text-align: center;
    background-color: rgb(192,240,223);
}

img#logo{
    width: 320px;
}

img{
    width: 100%;
}

li{
    background-color:rgb(128,128,128);
    padding: 10px;
    border-top: 1px solid white;
    padding-left: 20px;
}

@media all and (min-width: 550px){
    ul {
     background-color: rgb(128,128,128);
        }

    li{
      display: inline-block;
        border: none;
    }

}

ul{
    padding: 0px;
    margin: 0px;
}

li a{
    color: white;
    text-decoration: none;
    font-weight: 700;
}

h3 {
    color:rgb(220,106,94);
    font-weight: 600;

}

/* --Sections en Footer -- */

section, footer{
    padding: 20px;
}

@media all and (min-width: 550px){
    section#nieuws{
        width: 30%;
        float: left;
    }

    section#instrumenten{
        width: 70%;
        float: right;
    }

}


@media all and (min-width: 920px){
    section#nieuws{
        width: 30%;
        float: left;
    }

    section#instrumenten{
        display: grid;
        grid:
        "drums gitaar" 1fr
        "saxofoon trompet" 1fr /
        1fr 1fr;
        width: 70%;
        float: right;
    }

    article{
        display: inline-block;
        width: 90%;
        margin-right: 20px;
    }

    article:nth-child(even){
        margin-right: 0px;
    }

    #drums {
        grid-area: drums;
    }

    #gitaar {
        grid-area: gitaar;
    }

    #saxofoon {
        grid-area: saxofoon;
    }

    #trompet {
        grid-area: trompet;
    }

    #contact{
        grid-area: contact;
    }



}


footer{
    background-color: rgb(128,128,128);
    color: white;
    clear: both;
}

footer h3{
    color: white;
}

@media all and (min-width: 1200px){
    div#wrapper{
        width: 1200px;
        margin: auto;
    }

}






